.description {
    max-width: 300px;
    color: #fff;
}

.title {
    color: #fff;
    font-weight: 700;
}

.category{
    font-weight:900;
    font-size: large;
    margin: 15px 0px;
}

.difficuly{font-weight: 800;
    font-size: large;}