.cellFormat{
border: 1px solid black;;
}

.button{
    border-radius: 25%;
    padding: 15px;
    margin-right: 10px;
    width: 113px;
}

.active{
    background-color: blue;
    color: white;
}
@media screen and (min-width: 480px) {
.button:hover{
    background-color: blueviolet;
    color: white;
}
}
.buttonDiv{
    margin-bottom: 15px;
}
.categoryHeader{
    margin-bottom: 15px;
}

.userHeader{
    margin-top: 15px;
}